<nz-table #basicTable [nzData]="words">
    <thead>
      <tr>
        <th (click)="orderByAng()">Słowo angielskie</th>
        <th (click)="orderByPl()">Słowo polskie</th>
        <th (click)="orderByCategory()">Nazwa kategorii </th>
        <th (click)="orderByLevel()">Nazwa poziomu</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.word.ang }}</td>
        <td>{{ data.word.pl }}</td>
        <td>{{ data.word.category.name }}</td>
        <td>{{ data.word.category.level.name }}</td>
        <td>
          <button  (click)="EditRecord(data)" nz-button nzType="primary">Edytuj</button>
          <nz-divider nzType="vertical"></nz-divider>
          <button (click)= "Deleteemployee(data.id)" (click)= "deleteMessage()" nz-button nzType="primary" nzDanger>Usuń</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
<div class="col-md-3" *ngFor ="let item of words">
  <div class="card">
    <div class="row" *ngIf="item.isedit">
      <div class="form-group">
        <div class="col-md-12">
          <input nz-input placeholder="Wprowadź polskie słowo" [(ngModel)]="item.editEng" />
        </div>
        <div class="col-md-12">
          <input nz-input placeholder="Wprowadź polskie słowo" [(ngModel)]="item.editPl" />
        </div>
        <div class="col-md-12">
          <nz-input-group  >
            <nz-select [(ngModel)]="item.editCategory" placeholder ="Wybierz kategorie" >
              <nz-option *ngFor ="let item of categories" [nzLabel]="item.categoryName" [nzValue]="item.categoryName"></nz-option>
            </nz-select>
        </nz-input-group>
        </div>
        <div class="col-md-12">
          <nz-input-group nzCompact >
            <nz-select [(ngModel)]="item.editLevel">
              <nz-option *ngFor ="let item of levels" [nzLabel]="item.levelName" [nzValue]="item.levelName"></nz-option>
            </nz-select>
          </nz-input-group>
        </div>
      </div>
      <button  (click)="item.isedit = false" nz-button nzType="primary">Anuluj</button>
      <button  (click)="Updaterecord(item)" (click)="editMessage()" nz-button nzType="danger">Zaktualizuj</button>
    </div>   
  </div>
</div>
    




