<nz-table #basicTable [nzData]="level">
    <thead>
      <tr>
        <th>Nazwa poziomu</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>
          <button  (click)="EditRecord(data)" nz-button nzType="primary">Edytuj</button>
          <nz-divider nzType="vertical"></nz-divider>
          <button (click)= "Deleteemployee(data.id)" (click)="deleteMessage()" nz-button nzType="primary" nzDanger>Usuń</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
<div class="col-md-3" *ngFor ="let item of level">
        <div class="card">
                <div class="row" *ngIf="item.isedit">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input nz-input placeholder="Wprowadź nazwe poziomu" [(ngModel)]="item.editName" />
                        </div>
                    </div>
                    <button  (click)="item.isedit = false" nz-button nzType="primary">Anuluj</button>
                    <button  (click)="Updaterecord(item)" (click)="editMessage()" nz-button nzType="danger">Zaktualizuj</button>
                </div>   
            </div>
        </div>
    




