<nz-tabset nzType="card">
  <nz-tab [nzTitle]="'Wprowadzenie'">

    <div nz-row>
      <div nz-col nzSpan="24">
        <span>
          <b>
            Present Simple
          </b>
          <p>
            Czas Present Simple jest najczęściej używanym czasem teraźniejszym w języku angielskim. Stosujemy go w
            bardzo wielu sytuacjach.Można śmiało
            powiedzieć, że jeśli jesteśmy wprawni w gestykulacji i znamy trochę słownictwa, Present Simple umożliwi nam
            komunikację, która wychodzi daleko poza jego kontekst.
            Present Simple jest bardzo prosty w tworzeniu. Potrzeba tylko czasownika w podstawowej formie i osoby
            wykonującej czynność. Czas Present Simple składa się z następujących elementów
          </p>
        </span>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <span>
          <b>Zastosowanie</b>
          <ul>
            <li>
              Mówiąc o czynnościach typowych, rutynowych, powtarzających się. Opisujemy cechy i stany ludzi i
              przedmiotów.
            </li>
            <li>
              Opisujemy rzeczy, które zawsze są prawdziwe, zjawiska.
            </li>
            <li>
              Czynności dziejące się przez dłuższy czas.
            </li>
            <li>
              Opisywanie, streszczanie filmów, książek, itp.
            </li>
          </ul>
        </span>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <span>
          <b>`s` w trzeciej osobie liczby pojedynczej</b>
          <p>
            Żeby jednak nie było tak łatwo, jest jedna mała rzecz, o której zawsze trzeba pamiętać w tym czasie:

            w trzeciej osobie liczby pojedynczej do czasownika musimy dodać końcówkę -s
          </p>
        </span>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <span>
          <b>Budowa</b>
          <p>
            podmiot + czasownik w formie podstawowej
          </p>
        </span>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <span>
          <b>Przykłady</b>
          <ul>
            <li>
              He drinks milk twice a day.
            </li>
            <li>
              I always feel great in spring.
            </li>
            <li>
              I never smoke, but Alice smokes from time to time.
            </li>
            <li>
              Your deliveries are never on time!
            </li>
          </ul>
        </span>
      </div>
    </div>
  </nz-tab>
  <nz-tab [nzTitle]="'Zdania przeczące'">
    <div nz-row>
      <div nz-col nzSpan="24">
        <span>
          <b>Budowa</b>
          <p>
            Przy tworzeniu zdań przeczących pojawia się dodatkowe słówko (operator). Słowo to nie ma tutaj swojego znaczenia, pełni
            rolę wyłączne pomocniczą. To słówko to do. W trzeciej osobie pojawia się końcówka -s i otrzymujemy does. Do operatora dodajemy słówko <b>not</b>
          </p>
          <p>
            Przy tworzeniu zdań przeczących z czasownikiem to be,  potrzebne nam będzie dodatkowe słowo: <b>not</b>
             (czyli nie), które dodajemy do to be
          </p>
        </span>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <span>
          <b>Przykłady</b>
          <ul>
            <li>
              Mike doesn't read books very often.
            </li>
            <li>
              I don't go to work on Sundays.
            </li>
            <li>
              We don't usually sing in the middle of the street.
            </li>
            <li>
              Tom is not free on Monday afternoons.
            </li>
          </ul>
        </span>
      </div>
    </div>
  </nz-tab>
  <nz-tab [nzTitle]="'Zdania pytające'">
    <div nz-row>
      <div nz-col nzSpan="24">
        <span>
          <b>Budowa</b>
          <p>
            Przy tworzeniu pytań pojawia się dodatkowe słówko (operator). Słowo to nie ma tutaj swojego znaczenia, pełni
            rolę wyłączne pomocniczą. To słówko to do. W trzeciej osobie pojawia się końcówka -s i otrzymujemy does.
            Uwaga: w trzeciej osobie w pytaniu nie dodajemy końcówki -s do czasownika głównego - otrzymuje ją operator.
            Wyjątkiem są pytania o podmiot (o nich trochę niżej).
          </p>
          <p>
            W pytaniach o podmiot w formie twierdzącej nie używamy operatora. Gdy pytamy kto lub co, czasownik będzie w
            3. osobie liczby pojedynczej, czyli z końcówką -e(s):
          </p>
          <p>
            Jeżeli głównym czasownikiem jest to be, musimy zapomnieć o do/does.

            Pytania tworzymy przez inwersję:
          </p>
        </span>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <span>
          <b>Przykłady</b>
          <ul>
            <li>
              Are they ever on time?
            </li>
            <li>
              What makes you so sad?
            </li>
            <li>
              What do you want for Christmas?
            </li>
            <li>
              How often does she go out in the evenings?
            </li>
          </ul>
        </span>
      </div>
    </div>
  </nz-tab>
  <nz-tab [nzTitle]="'Test'">
    <div nz-row>
      <div nz-col nzSpan="16">
        <span>
          <b>Wstaw podane czasowniki w czasie Past Simple</b>
          <ol>
            <li>
              (listen) They <input nz-input [(ngModel)]="answer1" /> to music together.
            </li>
            <li>
              (realise) Barbara <input nz-input [(ngModel)]="answer2" /> does not the danger.
            </li>
            <li>
              (do) What does a barrister <input nz-input [(ngModel)]="answer3" /> ?
            </li>
          </ol>
          <button nz-button nzType="primary" (click)="checkTest()">Sprawdź test</button>
        </span>
      </div>
      <div [ngClass]="{'success': activeUser[0].test === true, 'miss': activeUser[0].test === false }"  nz-col  nzSpan="8" >
        <span >
          <p *ngIf="activeUser[0].test === true">
            Twój test jest już zaliczony
          </p>
          <p *ngIf="activeUser[0].test === false">
            Twój test jest niezaliczony
          </p>
        </span>
      </div>
    </div>
    <div *ngIf="testCheck" nz-row>
      <div nz-col nzSpan="24">
        <span *ngIf="activeUser[0].test === false">
          Niezdane
        </span>
        <span *ngIf="activeUser[0].test === true">
          Zdane
        </span>
      </div>
    </div>
  </nz-tab>
</nz-tabset>